# Node.js
node_modules/
npm-debug.log

# Python
.venv/
myenv/
__pycache__/
*.py[cod]
*.pkl
*.h5
*.pt

# Editor & OS
.DS_Store
.vscode/
.env

# Build files
dist/
*.log
*.sqlite3
*.zip
*.tar.gz
"model/ai_model.keras" 
"model/ai_model.keras" 
